Posts

<%= form_with model: Post.new do |form| %>
  <%= form.text_area :content, class: "form-control", placeholder: "What is happening?!" %>
  <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>

<hr />

<% @posts.each do |post| %>
  <div>
    <p><%= post.content %></p>
  </div>
<% end %>
